coverage==5.5 # test coverage
coverage-badge==1.0.1 # test coverage
matplotlib==3.4.1 # plotting
pytest==6.2.3 # testing
pytest-cov==2.12.0 # test coverage
seaborn==0.11.1 # plotting
statsmodels== 0.12.2 # plotting
